body {
    background-color: rgb(150, 150, 150) !important;
}

.sampleAndMemoBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    min-height: 100vh;
    height: auto;
    margin-right: 30px;
    padding: 0px 25px 0;
    background-color: #50505070;
}

.memoToApply {
    height: 200px !important;
    width: 200px !important;
    box-shadow: 5px 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: .5rem !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #fae04e !important;
}

.whiteWord {
    color: white !important;
}

#loginArea>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sample>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='file'] {
    color: #ffffff;
    width: 200px !important;
}

#formFileSm {
    width: 100%;
}

input[type='submit'] {
    width: 90px;
}

.form-label {
    margin-bottom: 1px !important;
    color: #ffffff;
}

.sample>img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.memoArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.memo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    background-color: #fae04e;
    box-shadow: 5px 5px 10px;
    padding: .5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.deleteBtn {
    position: absolute;
    --bs-btn-line-height: 0.5rem !important;
    height: 40px;
    width: 40px;
    border-radius: 100% !important;
    right: -20px;
    top: -20px;
}

.editBtn {
    position: absolute;
    --bs-btn-line-height: 0.5rem !important;
    height: 40px;
    width: 40px;
    border-radius: 100% !important;
    right: -20px;
    bottom: -20px;
}

.likeBtn{
    background: none;
    border: none;
    position: absolute;
    left: 0px;
    bottom: 1px;
    filter: drop-shadow(0 0 0.6rem rgb(145, 145, 145));
}

.likeBtn-liked{
    background: none;
    border: none;
    position: absolute;
    left: 0px;
    bottom: 1px;
    filter: brightness(0) saturate(100%) invert(55%) sepia(51%) saturate(1825%) hue-rotate(313deg) brightness(100%) contrast(105%);
}

.likeBtn:hover{
    filter: brightness(0) saturate(100%) invert(55%) sepia(51%) saturate(1825%) hue-rotate(313deg) brightness(100%) contrast(105%);
}

.likeBtn-liked:hover{
    filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(126%) hue-rotate(296deg) brightness(116%) contrast(86%);
}

.picUploaded {
    display: flex;
    justify-content: center;
    max-width: 184px;
    max-height: 184px;
    max-height: 75%;
    max-width: 100%;
}

.picUploaded img {
    max-height: 100%;
    max-width: 100%;
}

.memoToUpdate {
    height: 100px !important;
    width: 185px !important;
    margin-top: 0;
    margin-bottom: 10px;
    border: none !important;
    border-radius: 0 !important;
    background-color: #ffeb77 !important;
}